// =============================================================================
// {{ file_path }}
// =============================================================================
//
// SPDX-License-Identifier: {{ spdx_license_identifier }}
{% if spdx_license_identifier == "MPL-2.0" or "MPL-2.0" in spdx_license_identifier -%}
// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
//
{% endif -%}
// Copyright (c) {{ copyright_year }} {{ copyright_holder }}
//
// TTAPI - Tastytrade API High-Performance Options Trading Platform
// Contact: skylegal@nios.net for licensing inquiries
//
